<html>

<head>
    <link rel="stylesheet" href="jew.css" type="text/css">
    <title>
        SAI JEWELS
    </title>
</head>

<body bgcolor="black">
    <div id="header">
        <div id="logo"><img src="ss.png">
        </div>
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="index.html">ABOUT US</a></li>
            <li><a href="index.html">JEWELLERY</a></li>
            <li><a href="index.html">COLLECTIONS</a></li>
            <li><a href="index.html">CONTACT US </a></li>
        </ul>
    </div>
    <div class="whole">
        <div id="wallpaper"><img src="jewe.jpg">
        </div>
    </div>
    <div class="layout section-padding">
        <div class="col1 col">
            <a href="https://velvetcase.com/gold-studio/?type=HP_Studio_1"><img src="picture1.png">
		</div>
		<div class="col2 col">
		<a href="https://velvetcase.com/silver-studio/?type=HP_Studio_2"><img src="picture2.png">
		</div>
		<div class="col3 col">
		<a href="https://velvetcase.com/diamond-studio/?type=HP_Studio_3"><img src="picture3.png">
		</div>
		<div class="col4 col">
		<a href="https://velvetcase.com/pearl-studio/?type=HP_Studio_4"><img src="picture4.png">
		</div>
		</div>

	<div class="content1">
		<div class="collections">
			<h1>COLLECTIONS</h1>
			</div>
		<div class="imag1 imag">
				<img src="imag1.jpg">
			</div>
		<div class="imag2 imag">
				<img src="imag2.jpg">
			</div>
		<div class="imag3 imag">
				<img src="imag3.jpg">
			</div>
		<div class="imag4 imag">
				<img src="imag4.jpg">
			</div>
		<div class="imag5 imag">
				<img src="imag5.jpg">
			</div>
		<div class="imag6 imag">
				<img src="imag6.jpg">
			</div>
		<div class="imag7 imag">
				<img src="imag7.jpg">
			</div>
		<div class="imag8 imag">
				<img src="imag8.jpg">
			</div>
	</div>
</body>
</html>